// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

.item_rol{
    background-color: #5DADE2;
    color:white;
    border-radius: 10px;
    font-weight: bold;
}
.comment-item{
    padding: 10px;
    background-color:#5DADE2;
    color:white;
    border-radius:4px;
}